
.header {
    background-color: rgba(232, 253, 45, 0.973);
    /* background-color: rgb(226, 243, 77); */
    /* background: linear-gradient(to right bottom, rgba(238, 231, 231, 0.699),rgb(253, 253, 253),white); */
    /* background:linear-gradient(to bottom right, rgba(216, 247, 42, 0.925) ,rgba(197, 241, 37, 0.959),rgba(237, 253, 12, 0.959)); */
    margin-top: 1%;
    display: flex;
    position: relative;
    z-index: -55;
    padding: 100px;
    height: 85vh;
}
.header-first{
    width: 30%;
}
.header-first img{
    width: 90%;
}
.header-second {
    position: relative;
    width: 50%;
    margin-left: 7%;
}
.header-second img {
    width: 30%;
    margin-left: 20%;
}
.header-second h3 {
    letter-spacing: 1px;
    padding: 0 15% 0 0;
    font-size: 1.3em;
    margin-top: -8%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* color: #8d8d8d; */
}
.header-second h4 {
    /* color: #8d8d8d; */
    padding: 0 15% 0 0;
    margin-top: 5%;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* ============== UNIT ===================== */

.unit {
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg.png');
    /* position: fixed; */
    background-attachment: fixed;
    /* background-color: royalblue; */
    /* background: #32CD32; */
}
.unit h1 {
    padding-top: 2%;
} 
.unit h1,.child h2,.header-h1,.mart h1{
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top: 1%;
}
.child {
    opacity: 0;
    transform: translateY(200px);
    transition: all 1.3s;
}
.child.up {
    opacity: 1;
    transform: translateY(0);
}

.child .col-md-4 {
    margin: 0 2%;
}
.sub-menu {
    padding: 2%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.726);
    transform: skew(-2deg);
}
.child h2 {
    font-size: 1.2em;
    color: #151c55;
    font-weight: 700;
    margin-top: 20%;
}
.sub-menu.col-md-4 h2 {
margin-top: 15%;
}
.sub-menu p, .sub-menu ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #8d8d8d;
}
.sub-menu.col-md-3 img,.sub-menu.col-md-4 img{
    position: absolute;
    top: -5%;
    right: 10%;
    width: 25%;
    height: 25%;
}
.sub-menu.col-md-4 img{
    width: 19%; 
    height: 25%;
}

/* ====== MART ========== */
.mart {
    position: relative;
    width: 100%;
    height: 100vh;
    background:linear-gradient(to bottom right, rgba(216, 247, 42, 0.925) ,rgba(197, 241, 37, 0.959),rgba(237, 253, 12, 0.959));
    /* background:linear-gradient(to bottom right, rgba(55, 241, 55, 0.884) ,rgba(50, 218, 50, 0.884),rgba(38, 172, 38, 0.884)); */
    overflow: hidden;
}

.sub-menu-mart-1 img{
    position: relative;
    overflow: hidden;
    width: 100%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transform: translateX(-30%);
}
.sub-menu-mart-2 img{
    position: relative;
    transform: translateY(30%)
}
.sub-menu-mart-3 img{
    position: relative;
    transform: translateX(30%);
    width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.sub-menu-mart img{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.315);
    transition: all 2s;
}

/* BANNER CLOUDS*/

.mart .clouds img {

    position: absolute;
    bottom: -15%;
    max-width: 100%;
    animation: animate calc(8s*var(--i)) linear infinite;
}

@keyframes animate {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}


/* Footer */
footer{
    background-color: rgb(32, 32, 90);
    position: relative;
    bottom: 0;
    left: 0;
   
}
footer span h6 {
    padding-top: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
footer span a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    
.header {
    margin-top: -30%;
    display: block;
    height: 100vh;
}
.header-first {
    width: 100%;
}
.header-second {
    width: 200%;
    margin-left: -50%;
}
.header-second img {
    display: none;
}
.header-second h3 {
    padding: 15% 0 0 0;
    font-size: 1em;
}
.header-second h4 {
    padding: 10% 10% 0 0;
    margin-top: 5%;
    font-size: 1.2em;
}

/* ============== UNIT ===================== */

.unit {
    height: 220vh;
}
.unit h1 {
    padding-top: 2%;
} 
.header-h1 {
    padding-top: 30%;
    font-size: 1.5em;
}
.unit h1,.child h2,.mart h1{
    font-size: 1.5em;
}
.unit .col-md-4, .unit .col-md-3 {
    width: 90%;
    margin: 5% 5%; 

}
.sub-menu {
    padding: 5%;
    transform: skew(0deg);
    width: 80%;
}
.sub-menu.col-md-4 img{
    width: 25%; 
    height: 25%;
}

/* ====== MART ========== */
.mart {
    height: 200vh;
}
.mart .row .col-md-3,.mart .row .col-md-4 {
    width: 80%;
    margin: 5% 0;
}
.sub-menu-mart-1 img{
    transform: translateX(-20%);
}
.sub-menu-mart-2 img{
    position: relative;
    transform: translateY(82%);
    margin-left: 15%;
}
.sub-menu-mart-3 img{
    transform: translateX(55%);
}
.sub-menu-mart img{
    transition: all 0.5s;
}

/* BANNER CLOUDS*/

.mart .clouds img {

    position: absolute;
    bottom: -15%;
    max-width: 100%;
    animation: animate calc(8s*var(--i)) linear infinite;
}

@keyframes animate {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

}