@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    transition:  0.2s;
}
body {
    overflow-x: hidden;
    
}
.neraca{
    transition: all 0.8s;
}
.neraca.active {
   transform: translateX(20%);
      /* margin-left: 20%; */
}
.navigation{
    position:fixed;
    width: 80px;
    height: 100%;
    background: #42b549;
    transition: 0.5s;
    overflow: hidden;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.header-wrapper img {
    width: 50%;
    margin-left: 10%;
    opacity: 1;
    
}
.navigation .header-wrapper img:hover {
    opacity: 1;
    
}
.navigation.active{
    width: 20%;
}
.navigation ul {
    position: absolute;
    top: 20%;
    width: 100%;
    padding-left: 0.5em;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    
}
.navigation ul li:hover{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(238, 237, 237);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 4em;
    height: 2em;
    line-height: 4em;
    text-align: center;
    color:rgb(255, 255, 255);
}
.navigation ul li a .icon .fa{
    font-size: 24px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 4em;
    line-height: 3.8em;
    text-align: start;
    white-space: nowrap;
}
.toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 60px;
    background: #36ce42fd;
    cursor: pointer;
    overflow: hidden;
}
.toggle:hover{
 background: rgb(12, 66, 10);
}

.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    line-height: 60px;
    font-size: 24px;
    color: honeydew;
}
.toggle.active::before{
    content: '\f00d';
}

@media(max-width:767px){
    .navigation{
        left: -20%;
    }
    .navigation.active{
        left: 0;
        width: 100% ;
    }
}



